{% extends "page/base.html"%}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<body>
    {% block content %}
    <div class="container spacet60">
        <div class="row">
            <div class="col-md-12 spacet60 pt-0-mobile">
                <section class="contact">
                    <div class="container">
                        <div class="row">
                            <h2 class="col-md-12 col-sm-12">Send In Your Query</h2>

                            <p>&nbsp;</p>

                            <div class="col-md-12 col-sm-12">
                                <form action="" id="open"
                                    class="form-horizontal col-sm-12 theme-form" autocomplete="on"
                                    enctype="multipart/form-data" method="post" accept-charset="utf-8">
                                    <input type='hidden' value='contact_us' name='form_name' /> <input type="hidden"
                                        name="email_title" value="New Inquiry from Contact US" />
                                    <div class="form-group"><label for="name"
                                            class="col-sm-2 control-label">Name</label>
                                        <div class="col-sm-9"><input type="text" name="name" value="" id="name"
                                                placeholder="Enter Your Name" validation="trim|required|xss_clean"
                                                class="form-control" /> </div>
                                    </div>
                                    <div class="form-group"><label for="email"
                                            class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-9"><input type="email" name="email" value="" id="email"
                                                placeholder="Enter Your Email"
                                                validation="trim|required|valid_email|xss_clean" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group"><label for="subject"
                                            class="col-sm-2 control-label">Subject</label>
                                        <div class="col-sm-9"><input type="text" name="subject" value="" id="subject"
                                                placeholder="Enter Subject" validation="trim|required|xss_clean"
                                                class="form-control" /> </div>
                                    </div>
                                    <div class="form-group"><label for="description"
                                            class="col-sm-2 control-label">Description</label>
                                        <div class="col-sm-9"><textarea name="description" cols="40" rows="10"
                                                id="description" placeholder="Enter Description"
                                                class="form-control"></textarea> </div>
                                    </div>
                                    <div class="form-group"><label for="submit" class="col-sm-2 control-label"></label>
                                        <div class="col-sm-9"><input type="submit" name="submit" value="Submit"
                                                class="btn btn-primary pull-right" name="submit" value="" /> </div>
                                    </div>
                                </form><!--./row-->
                            </div>
                            <!--./col-md-12-->
                        </div>
                        <!--./row-->
                    </div>
                    <!--./container-->
                </section>

                <div class="col-md-4 col-sm-4">
                    <div class="contact-item"><img src="static/uploads/gallery/media/pin.svg" />
                        <h3>Our Location</h3>

                        <p>Gurukul campos road, Mahaveer circle Terdal BGK 587-315 KA, IN</p>
                    </div>
                    <!--./contact-item-->
                </div>
                <!--./col-md-4-->

                <div class="col-md-4 col-sm-4">
                    <div class="contact-item"><img src="static/uploads/gallery/media/phone.svg" />
                        <h3>CALL US</h3>

                        <p>E-mail : shosakoti.com</p>

                        <p>Mobile : +91-959090955848</p>
                    </div>
                    <!--./contact-item-->
                </div>
                <!--./col-md-4-->

                <div class="col-md-4 col-sm-4">
                    <div class="contact-item"><img src="static/uploads/gallery/media/clock.svg" />
                        <h3>Working Hours</h3>

                        <p>9 am to 2 pm </p>

                        <p>4 pm to 9 pm</p>
                        <p>Sat is Holyday</p>

                    </div>
                    <!--./contact-item-->
                </div>
                <!--./col-md-4-->

                <div class="col-md-12 col-sm-12">
                    <div class="mapWrapper fullwidth"><iframe frameborder="0" height="500" marginheight="0"
                            marginwidth="0" scrolling="no"
                            src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=EN&amp;q=time+square&amp;aq=&amp;sll=40.716558,-73.931122&amp;sspn=0.40438,1.056747&amp;ie=UTF8&amp;rq=1&amp;ev=p&amp;split=1&amp;radius=33.22&amp;hq=time+square&amp;hnear=&amp;ll=37.061753,-95.677185&amp;spn=0.438347,0.769043&amp;z=9&amp;output=embed"
                            width="100%"></iframe></div>
                </div><!-- <h2 class="courses-head text-center"></h2> -->
                <input type="hidden" name="page_content_type" id="page_content_type" value="">
                <div class="post-list spaceb50" id="postList" style="overflow:hidden;">
                </div>



            </div>


        </div><!--./row-->
    </div><!--./container-->

    {% endblock %}
</body>


</html>