<footer>
    <div class="container spacet40 spaceb40">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h3 class="fo-title">Links</h3>
                <ul class="f1-list">
                    <li class="">

                        <a href="/">Home</a>



                    </li>
                    <li class="">

                        <a href="page/about-us.html">About Us</a>



                    </li>
                    <li class="">

                        <a href="page/course.html">Course</a>



                    </li>
                    <li class="">

                        <a href="page/gallery.html">Gallery</a>



                    </li>
                    <li class="">

                        <a href="page/events.html">Events</a>



                    </li>
                    <li class="">

                        <a href="page/news.html">News</a>



                    </li>
                    <li class="">

                        <a href="{% url 'contactus' %}">Contact Us</a>



                    </li>
                </ul>
            </div><!--./col-md-3-->

            <div class="col-md-4 col-sm-6">
                <h3 class="fo-title">Follow Us</h3>
                <ul class="company-social">

                    <li><a href="https://wa.me/919590955848" target="_blank"><i class="fa fa-whatsapp"></i></a></li>

                    <li><a href="https://www.facebook.com/a" target="_blank"><i class="fa fa-facebook"></i></a></li>

                    <li><a href="https://twitter.com/a" target="_blank"><i class="fa fa-twitter"></i></a></li>

                    <li><a href="mailto:shosakoti@gmail.com" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </li>

                    <li><a href="https://www.youtube.com/a" target="_blank"><i class="fa fa-youtube"></i></a></li>

                    <li><a href="https://www.linkedin.com/a" target="_blank"><i class="fa fa-linkedin"></i></a></li>

                    <li><a href="https://www.instagram.com/a" target="_blank"><i class="fa fa-instagram"></i></a>
                    </li>

                    <li><a href="https://in.pinterest.com/a" target="_blank"><i class="fa fa-pinterest"></i></a>
                    </li>

                </ul>
            </div><!--./col-md-3-->

            <div class="col-md-4 col-sm-6">
                <h3 class="fo-title">Feedback</h3>
                <div class="complain"><a href="page/complain.html"><i
                            class="fa fa-pencil-square-o i-plain"></i>Complain</a>
                </div>

                <!-- <li><i class="fa fa-pencil-square-o i-plain"></i>
          <div class="he-text">Feedback<span><a href="https://demo.smart-school.in/page/complain">Complain</a></span>
          </div>
      </li> -->
            </div>
        </div><!--./row-->
        <div class="row">
            <div class="col-md-12">
                <div class="infoborderb"></div>

                <div class="col-md-4">
                    <div class="contacts-item">
                        <div class="cleft"><i class="fa fa-phone"></i></div>
                        <div class="cright">
                            <a href="#" class="content-title">Contact</a>
                            <p href="#" class="content-title">9590955848</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contacts-item">
                        <div class="cleft"><i class="fa fa-envelope"></i></div>
                        <div class="cright">
                            <a href="#" class="content-title">Email Us</a>
                            <p><a href="mailto:mountcarmelmailtest@gmail.com"
                                    class="content-title">shosakoti@gmail.com</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contacts-item">
                        <div class="cleft"><i class="fa fa-map-marker"></i></div>
                        <div class="cright">
                            <a href="contactus#gmap" class="content-title">Address</a>
                            <p class="sub-title">Terdal, Bagalkot, KA</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a class="twitter-timeline" data-tweet-limit="1" href="#"></a>
                </div><!--./col-md-3-->
            </div>
        </div>
    </div>
    </div><!--./container-->

    <div class="copy-right">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <p>© Shiva Enterprises 2014 All rights reserved</p>
                </div>
            </div><!--./row-->
        </div><!--./container-->
    </div><!--./copy-right-->

</footer>