<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#424242" />
    <title>Password Reset | Shiva</title>
    <link rel="shortcut icon" href="../../static/uploads/logo/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="../../static/backend/usertemplate/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/backend/usertemplate/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/backend/usertemplate/assets/css/form-elements.css">
    <link rel="stylesheet" href="../../static/backend/usertemplate/assets/css/style.css">
    <style type="text/css">
        body {
            background: linear-gradient(to right, #676767 0, #dadada 100%);
        }

        .top-content {
            position: relative;
        }

        .nopadding {
            border-right: 0px solid #ddd;
        }

        .loginradius {
            border-radius: 4px;
        }

        .btn-group-justified a.btn {
            font-size: 13px;
        }
    </style>
</head>

<body>
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 nopadding col-md-offset-4">
                        <div class="bgoffsetbg">
                            <div class="loginbg">
                                <div class="form-top">
                                    <div class="form-top-left logowidth">
                                        <img src="../../static/uploads/logo/aa.png" />
                                    </div>
                                </div>

                                <div class="form-bottom">
                                    <h3 class="font-white bolds">Forgot Password</h3>
                                    <form action="#" method="post">
                                        {% csrf_token %}
                                        <div class="form-group has-feedback">
                                            <label class="sr-only" for="form-username">Email</label>
                                            <input type="text" name="email" placeholder="Email"
                                                class="form-username form-control" id="form-username">
                                            <span class="fa fa-envelope form-control-feedback"></span>
                                            <span class="text-danger"></span>
                                        </div>
                                        <button type="submit" class="btn">Submit</button>
                                    </form>
                                    <p style="margin-top: 10px;">
                                        <a style="color:black;" target="_self" href="{% url 'login' %}" class="forgot pull-left">
                                            <i class="fa fa-key"></i> User Login</a>
                                        <a style="color:black; padding-right:20px;" href="/index" target="_self"
                                            class="forgot pull-right"> <i class="fa fa-empire"></i> Front Site</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>