<!DOCTYPE html>

<html lang="en-us" dir="ltr">

<head>
    <title>Enter new password | Django site admin</title>
    <link rel="stylesheet" href="/static/admin/css/base.css">
    <link rel="stylesheet" href="/static/admin/css/dark_mode.css">
    <link rel="stylesheet" href="/static/admin/css/forms.css">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/static/admin/css/responsive.css">
    <meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class="" data-admin-utc-offset="19800">
    <!-- Container -->
    <div id="container">
        <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="/admin/">Passowrd Resetting</a></h1>
            </div>
        </div>
        <!-- END Header -->
        <div class="breadcrumbs">
            <a href="/admin/">Home</a>
            &rsaquo; Password reset confirmation
        </div>
        <div class="main" id="main">
            <div class="content">
                <!-- Content -->
                <div id="content" class="colM">
                    <h1>Enter new password</h1>
                    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                    <form method="post"><input type="hidden" name="csrfmiddlewaretoken"
                            value="vVYzf9IHeihwlZM5JWMMgdQtiBZP8lVroKZp7sMR1dAa0SvEwxkcwEiAo5arAWgw">
                        <fieldset class="module aligned">
                            <input class="hidden" autocomplete="username" value="varun">
                            <div class="form-row field-password1">
                                <label for="id_new_password1">New password:</label>
                                <input type="password" name="new_password1" autocomplete="new-password" required
                                    id="id_new_password1">
                            </div>
                            <div class="form-row field-password2">
                                <label for="id_new_password2">Confirm password:</label>
                                <input type="password" name="new_password2" autocomplete="new-password" required
                                    id="id_new_password2">
                            </div>
                            <input type="submit" value="Change my password">
                        </fieldset>
                    </form>
                    <br class="clear">
                </div>
                <!-- END Content -->
                <div id="footer"></div>
            </div>
        </div>
    </div>
    <!-- END Container -->
</body>
</html>