{% extends "page/base.html"%}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<body>
    {% block content %}
    <div class="container spacet60">
        <div class="row">
            <div class="col-md-12 spacet60 pt-0-mobile">
                <section class="contact">
                    <div class="container">
                        <div class="row">
                            {% if messages %}
                            <div class="notification-container">
                                <div class="notification">
                                    {% for message in messages %}
                                    <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                                    {% endfor %}
                                    <img id='cross' src="../static/images/close.png" width="15px" height="15px" alt="">
                                </div>
                            </div>
                            <script>
                                var cross = document.getElementById('cross')
                                cross.addEventListener('click', () => {
                                    document.getElementsByClassName('notification-container')[0].style.display = 'none';
                                })
                            </script>
                            {% endif %}
                            <h2 class="col-md-12 col-sm-12">Send In Your Query</h2>

                            <p>&nbsp;</p>

                            <div class="col-md-12 col-sm-12">
                                <form action="" id="open" class="form-horizontal col-sm-12 theme-form" autocomplete="on"
                                    enctype="multipart/form-data" method="post" accept-charset="utf-8">
                                    {% csrf_token %}
                                    <input type='hidden' value='contact_us' name='form_name' /> <input type="hidden"
                                        name="email_title" value="New Inquiry from Contact US" />
                                    <div class="form-group"><label for="name"
                                            class="col-sm-2 control-label">Name</label>
                                        <div class="col-sm-9"><input type="text" name="name" value="" id="name"
                                                placeholder="Enter Your Name" validation="trim|required|xss_clean"
                                                class="form-control" /> </div>
                                    </div>
                                    <div class="form-group"><label for="email"
                                            class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-9"><input type="email" name="email" value="" id="email"
                                                placeholder="Enter Your Email"
                                                validation="trim|required|valid_email|xss_clean" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group"><label for="subject"
                                            class="col-sm-2 control-label">Subject</label>
                                        <div class="col-sm-9"><input type="text" name="subject" value="" id="subject"
                                                placeholder="Enter Subject" validation="trim|required|xss_clean"
                                                class="form-control" /> </div>
                                    </div>
                                    <div class="form-group"><label for="description"
                                            class="col-sm-2 control-label">Description</label>
                                        <div class="col-sm-9"><textarea name="content" cols="40" rows="10"
                                                id="description" placeholder="Enter Description"
                                                class="form-control"></textarea> </div>
                                    </div>
                                    <div class="form-group"><label for="submit" class="col-sm-2 control-label"></label>
                                        <div class="col-sm-9"><input type="submit" name="submit" value="Submit"
                                                class="btn btn-primary pull-right" name="submit" value="" /> </div>
                                    </div>
                                </form><!--./row-->
                            </div>
                            <!--./col-md-12-->
                        </div>
                        <!--./row-->
                    </div>
                    <!--./container-->
                </section>

                <div class="col-md-4 col-sm-4">
                    <div class="contact-item"><img src="static/uploads/gallery/media/pin.svg" />
                        <h3>Our Location</h3>

                        <p>Gurukul campos road, Mahaveer circle Terdal BGK 587-315 KA, IN</p>
                    </div>
                    <!--./contact-item-->
                </div>
                <!--./col-md-4-->

                <div class="col-md-4 col-sm-4">
                    <div class="contact-item"><img src="static/uploads/gallery/media/phone.svg" />
                        <h3>CALL US</h3>

                        <p>E-mail : shosakoti.com</p>

                        <p>Mobile : +91-959090955848</p>
                    </div>
                    <!--./contact-item-->
                </div>
                <!--./col-md-4-->

                <div class="col-md-4 col-sm-4">
                    <div class="contact-item"><img src="static/uploads/gallery/media/clock.svg" />
                        <h3>Working Hours</h3>

                        <p>9 am to 2 pm </p>

                        <p>4 pm to 9 pm</p>

                    </div>
                    <!--./contact-item-->
                </div>
                <!--./col-md-4-->

                <div class=" container ">
                    <div class="mapWrapper fullwidth container ">
                        <iframe id="gmap"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3272.6869555176722!2d75.0508985143419!3d16.49544243225711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc733da44cd4457%3A0x9323f622977234b3!2sMahaveer%20Circle%20Terdal!5e1!3m2!1sen!2sin!4v1677225149201!5m2!1sen!2sin"
                            width="98%" height="550" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <h2 class="courses-head text-center">Google Map</h2>
            </div>
        </div>


    </div><!--./row-->
    </div><!--./container-->

    {% endblock %}
</body>


</html>