{% extends "page/base.html"%}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<body>
    {% block content %}
    <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round" data-ride="carousel"
        data-interval="5000">
        <div class="carousel-inner">
            <div class="item active">
                <img src="static/uploads/gallery/media/v-4banner1.jpg" alt="" />
            </div>
            <div class="item ">
                <img src="static/uploads/gallery/media/v-4banner4.jpg" alt="" />
            </div>
            <div class="item ">
                <img src="static/uploads/gallery/media/top-banner2-2.jpg" alt="" />
            </div>
            <div class="item ">
                <img src="static/uploads/gallery/media/v-4banner3-3.jpg" alt="" />
            </div>
        </div><!--./carousel-inner-->
        <a class="left carousel-control" href="#bootstrap-touch-slider" data-slide="prev">
            <span class="fa fa-angle-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <!-- Right Control-->
        <a class="right carousel-control" href="#bootstrap-touch-slider" data-slide="next">
            <span class="fa fa-angle-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div> <!--./bootstrap-touch-slider-->

    <!-- <div class="col-md-4 col-sm-4">
    <div class="sidebar newsmain">
                        <div class="catetab">Latest News</div>
                    <div class="newscontent">
                        <div class="tickercontainer"><div class="mask"><ul id="ticker01" class="newsticker" style="height: 666px; top: 124.54px;">
                                                        <li><a href="https://demo.smart-school.in/read/winter-vacation"><div class="date">12<span>December</span></div>Winter Vacation                                                        </a></li>
                                                            <li><a href="https://demo.smart-school.in/read/seminar-on-homework-best-practices"><div class="date">17<span>December</span></div>Seminar on Homework Best  Practices.                                                        </a></li>
                                                            <li><a href="https://demo.smart-school.in/read/new-uniform"><div class="date">12<span>December</span></div>New Uniform                                                        </a></li>
                                            </ul>
                            </div>
                        </div>
                    </div><!--./newscontent-->






    </div><!--./sidebar-->
    <!--</div>./col-md-12-->
    <div class="container spacet60">
        <div class="row">
            <div class="col-md-12 spacet60 pt-0-mobile">
                <section class="services">
                    <div class="service-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 service-box">
                                    <div class="service-box-content">
                                        <h3><a href="#">Scholarship Facility</a></h3>

                                        <p>Eimply dummy text printing ypese tting industry.</p>

                                        <div class="service-box-icon"><img
                                                src="static/uploads/gallery/media/scholarship-icon.png" /></div>
                                    </div>
                                </div>
                                <!--./col-md-4-->

                                <div class="col-md-4 col-sm-4 service-box">
                                    <div class="service-box-content">
                                        <h3><a href="#">Books & Liberary</a></h3>

                                        <p>Eimply dummy text printing ypese tting industry.</p>

                                        <div class="service-box-icon"><img
                                                src="static/uploads/gallery/media/book-icon.png" />
                                        </div>
                                    </div>
                                </div>
                                <!--./col-md-4-->

                                <div class="col-md-4 col-sm-4 service-box">
                                    <div class="service-box-content">
                                        <h3><a href="#">Certified Teachers</a></h3>

                                        <p>Eimply dummy text printing ypese tting industry.</p>

                                        <div class="service-box-icon"><img
                                                src="static/uploads/gallery/media/teacher-icon.png" /></div>
                                    </div>
                                </div>
                                <!--./col-md-4-->
                            </div>
                        </div>
                    </div>
                </section>

                <div class="container spacet40">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-md-offset-2 text-center">
                            <h2 class="head-title">Mount Carmel Residential School</h2>

                            <p class="pb40">Tmply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been theindustry's standard dummy text ever since the 1500s, when an unknown printer
                                took.</p>
                            <img class="img-responsive center-block" src="static/uploads/gallery/media/about_bg.jpg" />
                        </div>
                    </div>
                    <!--./row-->
                </div>
                <!--./container-->

                <section class="bg-gray fullwidth spaceb40 spacet40">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-md-offset-2 text-center">
                                <h2 class="head-title">ABOUT US</h2>

                                <p>Fusce sem dolor, interdum in fficitur at, faucibus nec lorem. Sed nec molestie justo.
                                </p>

                                <div class="divider">&nbsp;</div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="about_img"><img class="img-responsive img-rounded"
                                        src="static/uploads/gallery/media/about.jpg" /></div>
                            </div>
                            <!--./col-md-6-->

                            <div class="col-md-6 col-sm-6">
                                <div class="about-right">
                                    <h3>WELCOME TO Mount Carmel</h3>

                                    <p class="pt10 pb10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </div>

                                <div class="panel-group accrodion2" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a class="accordion-toggle" data-parent="#accordion"
                                                    data-toggle="collapse" href="#collapseOne">Collapsible Group Item #1
                                                </a></h4>
                                        </div>

                                        <div class="panel-collapse collapse in" id="collapseOne">
                                            <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod
                                                high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                                laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                                squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                                                keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                                sapiente ea proident.</div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a class="accordion-toggle" data-parent="#accordion"
                                                    data-toggle="collapse" href="#collapseTwo">Collapsible Group Item #2
                                                </a></h4>
                                        </div>

                                        <div class="panel-collapse collapse" id="collapseTwo">
                                            <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod
                                                high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                                laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                                squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                                                keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                                sapiente ea proident.</div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a class="accordion-toggle" data-parent="#accordion"
                                                    data-toggle="collapse" href="#collapseThree">Collapsible Group Item
                                                    #3 </a></h4>
                                        </div>

                                        <div class="panel-collapse collapse" id="collapseThree">
                                            <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod
                                                high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                                laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                                squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                                                keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                                sapiente ea proident.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--./col-md-6-->
                        </div>
                        <!--./row-->
                    </div>
                    <!--./container-->
                </section>


            </div>


        </div><!--./row-->
    </div><!--./container-->


    {% endblock %}
</body>


</html>